*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #222;
  color: #EE8;
  font-family: Georgia, Verdana;
  border-left: 3px solid #EE8;
  height: 100%;
}

.toggle-menu {
  font-size: 250%;
  cursor: pointer;
  line-height: 1;
  background-color: #EE8;
  color: #222;
  padding: 0 3px;
}
#open-menu {
  z-index: 1;
  position: fixed;
}
#close-menu {
  position: absolute;
  right: 0;
}

#menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  z-index: 2;
  position: fixed;
  width: 100%;
  max-width: 250px;
  height: 100%;
  background-color: #EE8;
  color: #222;
}
#menu.visible {
  transform: translateX(0);
}

#content {
  padding: 100px 20px;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}
